body {
    background-color: #f0f8ff;
}

#afterBody {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#allButtons {
    display: flex;
    justify-content: center;
}

button {
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    width: 92px;
    height: 30px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFF7F0;
    border-radius: 6px;
}