body {
    background-color: aliceblue;
}

#afterBody {
    display: flex;
    justify-content: center;
}

#allButtons {
    display: flex;
    justify-content: center;
}

button {
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}